name: Build OpenWrt K2T Firmware

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04  # 更改为 Ubuntu 20.04 以避免此问题

    steps:
    - name: Checkout OpenWrt source
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential clang flex bison g++ gawk gettext \
          libncurses5-dev libssl-dev python3 python3-distutils \
          rsync unzip zlib1g-dev file wget ccache

    - name: Update feeds
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Load config
      run: |
        [ -e .config ] && echo "Using provided .config" || make defconfig

    - name: Compile firmware
      run: |
        make -j$(nproc) V=s

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: K2T-Firmware
        path: bin/targets/
